*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /*TO Box Model*/
}

body {
    max-width:fit-content;
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
    /* background-color: rgb(235, 10, 10); */
}

.button_primary{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
}
.button_primary:hover{
    font-family: 'Lobster', cursive;
    border:2px solid sienna;
    box-shadow: 0 30px 50px -12px rgb(0, 0, 0);
    font-size:18px;
    font-weight:800;
    padding:6px;
}


.container {
    /* max-width: 100%;
    padding: 0 10px;
    margin: 0 auto; */
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 3px;
    margin-left: auto;
      
}

.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #fff; */
    border-radius:4px 4px 10px 10px;
    margin-bottom:30px;
    background-color: #f9fafc;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
    z-index: 9999;
}

.navbar_brand{
    width: 100px;
}

.navbar_logo{
    width: 100%;
}

.nav_item{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
}

.nav_item:hover{
    background-position: right center;
    border: 2px solid rgba(233, 50, 65, 0.507);
    
}

.hero_container{
    width: 100%;
    margin-top: 5px;
}
.hero_image_container{
    position:relative;
    width:100%;
}
.hero_image{
    position:absolute;
    width:100%;
    right: auto;
    left: auto;
    z-index: 2;
    margin-top: 30px;
    background-image:linear-gradient(20);
    opacity:0.9;
    
    
    border-radius:  0 8px 8px 8px;
    /* border-radius: 10px; */
    box-shadow: 0 25px 50px -12px rgba(58, 49, 49, 0.555);
    
}

.hero_image_shape{
    position: absolute;
    right: 2;
    opacity:1;
}
.hero_image_pattern{
    position:relative;
    z-index:-9;
}
.hero_text{
    font-size: 30px;
    margin:20px 0;
}
.explore_menue_text{
    font-size:30px;
    margin-top:50px;
    margin-bottom:25px;
    text-align:center;
}
.food_card{
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 15px;
}
.food_card:hover{
    box-shadow: 0 25px 50px -12px rgba(58, 49, 49, 0.555);
}
.food_card_image_container{
    width:100%;
}
.food_title{
    cursor:pointer;
}
.food_image{
    width:100%;
    border-radius: 8px 8px 0 0;
}
.food_card_description{
    padding:15px;
}
.explore_menu_container{
    position:relative;
}
#view_more{
    /* margin-top: 50px;; */
    width:92%;
    position:absolute;
    margin-bottom: 10px;
}

#view_more:hover{
    border:2px solid rgb(170, 10, 10);
    /* width:100%; */
    
    
}

/* Flexxxxx */
/* .restaurant_container{
    max-width:fit-content;
} */
.restaurant_text{
    
    margin-top:90px;
    margin-bottom:25px;
    text-align:left
    
}
.text-xl{
    font-family: 'Otomanopee One', sans-serif;
    font-size:25px;
    margin-top:50px;
    margin-bottom:25px;
    text-align:left
}   


.restaurant_images_container{
    width:100%;
    /* display:flex;
    gap:3px; */
}
.restaurant_images_row_two,
.restaurant_images_row_one{
    /* margin-top:10px; */
    width:100%;
    display:flex;
    gap:11px;
   

}
.restaurant_images_row_one{
    /* display:flex; */
    align-items: baseline;
    margin-bottom: 10px;
}
.restaurant_image_1,
.restaurant_image_4 {
   /* width: 100%;
   height: 120px; */
   width: 150px;
  height: 90px;
  
   box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.restaurant_image_2,
.restaurant_image_3 {
    /* width: 120%;
    height: 150px; */
    width: 200px;
    height: 100px;
    
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}


.restaurant_1, .restaurant_2, .restaurant_3, .restaurant_4{
    width:100%;
    height:100%;
    border-radius: 4px;
    
}

.restaurant_1:hover{
    box-shadow: -20px 30px 100px -20px  rgb(0, 0, 0);
    cursor: pointer;
}
.restaurant_image_2:hover{
    box-shadow: 0 30px 100px -20px rgb(0, 0, 0);
    cursor: pointer;
}
.restaurant_3:hover{
    box-shadow: -20px 30px 100px -20px rgb(0, 0, 0);
    cursor: pointer;
}
.restaurant_4:hover{
    box-shadow: 20px 30px 100px -20px rgb(0, 0, 0);
    cursor: pointer;
}
 

.email_items_container{
  margin-top:50px ;
  width:100%;
  padding: 2px;
  margin-right: auto;
  margin-left: auto; 
  margin-bottom:20%;
}

.email_subcribe_input{
    display:flex;
    align-items:center;
    gap:5%;
    
}
.email_input{
    width:100%;
    border:1px solid #ee89a0;
    background-color: #fcedf0;
    color: #1d3557;
    font-weight: 700;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
    
    /* justify-content: left; */
}
.email_input:hover::placeholder{
    color: #bdbcbc;
    
}
#get_updates{
    width:40%;
    height:40px;
    padding:1%;
}
#get_updates:hover{
    font-size:15px;
    /* height:50%; */
    width:100;
    border-radius:10px;

}
.quote_container{
    position:relative;
    margin-top: 4rem;
    align-items:center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 100%;
    border-radius: 13px;
    background: url("https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80")
        center center / cover no-repeat;
}
.quote_image_overlay{
    position: absolute;
    height:200px;
    width:100%;
    border-radius: 13px;
    background-color: #0a4065;
    opacity:49%;
}
.quote_image_text{
    color:#fff;
    z-index: 3;
    margin: 0 1rem;
    text-align: center;
    
}
footer{
    margin-top: 25%;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    border-radius: 4rem 0 0 0;
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    /* box-shadow: -20px -10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05); */
    box-shadow: 0 -30px 200px -42px rgb(216, 136, 136);
}
footer > img {
    width: 300px;
    filter: brightness(0) invert(1);
}

footer > ul {
    margin-top: -1rem;
    color:#fff;
    list-style:none;
    
}
footer > ul > li{
    margin: 5px 0;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Merriweather', serif; */
    list-style:cross-fade()
}
footer > ul > li:hover{
    cursor:pointer;
    text-decoration:underline;
    font-weight: 900;
    color:black;
}

@media (min-width: 768px){
    .navbar {
        /* display: flex; */
        position: fixed;
        width: 99%;
        justify-content: space-between;
        top: 0;
        /* left: 0;
        right: 0; */
        padding: 1em;
        z-index: 100;
        /* padding: 0px 9px; */
        height: 80px;
        
        
    }
    .hero_container{
        margin-top: 90px;
        display:flex;
        flex-direction: row-reverse;
        align-items:center;
    }
    .hero_image{
        margin-top: 30px;
    }
    .explore_menue_container{
        position:relative;
        margin: 5px 0;
        /* margin-bottom: 200px; */
    }
    .explore_menu_gradient_bg{
        position: absolute;
        width: 100%;
        height:100%;
        transform: skewY(-5deg);
        z-index: -3;
    }
    .explore_menue_lists{
        display:flex;
        flex-wrap:wrap;
        justify-content: space-evenly;
        padding-top: 2rem;
        /* gap:15px;
        margin-top: 40px;
        padding:0 30px; */
    }
    .food_card{
        flex-basis: 30%;
        background-color: #fff;
        /* border-radius: 6px; */
    }
    #pizza_card{
        margin-top: -20px;
        margin-bottom:30px;
    }
    .explore_menu_view_more{
        display:flex;
        justify-content: center;
    }
    .explore_menue_container{
        position: relative;
        margin-bottom:50px;
    }
    .explore_menu_gradient_bg{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:110%;
        background-image: linear-gradient(
            to right,
            #ff512f 0%,
            #dd2476 51%,
            #ff512f 100%
        );
        transform:skewY(-6deg);
        z-index: -3;
        border-radius: 10px 0 16px 0;
        /* margin-bottom:50px; */
    }
    .restaurant_container{
        margin-top:100px;
        display:flex;
        justify-content: space-between;
        align-items:center;
        
    }
    .restaurant_text{
        width:100%;
        font-size:40px;

    }
    .restaurant_images_row_one{
        justify-content: center;
    }
    .restaurant_images_row_two{
        margin-top:  3px;
        align-items: flex-start;
        justify-content: center;
    }
    .email_items_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .text-ul{
        /* display:flex;
        justify-content: center; */
        
        font-family: 'Otomanopee One', sans-serif;
        font-size:25px;
        margin-top:50px;
        margin-bottom:25px;
        position:relative;
        left: 98px;
    }
    .email_items_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* flex-direction:column-reverse; */
    }
    
    .email_subcribe_input{
        display:flex;
        justify-content:space-evenly;
        
    }
   
    .email_input{
        width:150%;
        border:1px solid #ee89a0;
        background-color: #fcedf0;
        color: #1d3557;
        font-weight: 700;
        padding: 0.5rem;
        border-radius: 5px;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
        
        /* justify-content: left; */
    }
    .email_input:hover::placeholder{
        color: #bdbcbc;
        
    }
    #get_updates{
        width:20%;
        height:36px;
        padding:1%;
        
    }
    #get_updates:hover{
        font-size:15px;
        /* height:50%; */
        
        border-radius:10px;

    }
    .quote_container{
        height: 300px;
    }
    .quote_image_overlay{
        height: 300px;
        box-shadow:20px 0 100px 1px rgb(56, 141, 211)
    }
    .quote_image_text{
        font-size: 2rem;
        font-weight:500;
        line-height: 1.5;
    }
   
    footer {
        margin-top: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border-radius: 4rem .5rem 0 0;
      }
}

@media (min-width: 1020px){
    /* .container{
        max-width:900px;
    } */
    .container {
        width: 90%;
        padding-right: 45px;
        padding-left: 45px;
        margin-right: auto;
        margin-left: auto;
      }
      .navbar {
        /* display: flex; */
        position: fixed;
        width: 100%;
        justify-content: space-between;
        top: 0;
        /* left: 0;
        right: 0; */
        padding: 1em;
        z-index: 100;
        /* padding: 0px 9px; */
        height: 80px;
        
        
    } 
    .navbar_brand{
        width:150px;
    }
    .button_primary{
        padding: 10px;
        font-size: 20px;
        border-radius: 12px;
    }
    .hero_container{
        margin-bottom: 90px;
    }
    .hero_description{
        width:100%;
    }
    .hero_text{
        font-size: 50px;
    }
    .explore_menue_lists{
        gap:40px;
    }
    .explore_menue_text{
        font-size:50px;
    }
    .explore_menue_container{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    .restaurant_images_container{
        width:100%;
        /* display:flex;
        gap:3px; */
    }
     .restaurant_container{
        display:flex;
        align-items:center;
    }
    /* .restaurant_text{
        width:100%;
        font-size:40px;

    } */
    .text-xl {
        /* font-size: 3rem; */
        font-size: 40px;
      }
    .restaurant_image_1,
    .restaurant_image_4 {
    /* width: 100%;
    height: 120px; */
    width: 250px;
    height: 180px;
    
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    }
    .restaurant_image_2,
    .restaurant_image_3 {
        /* width: 120%;
        height: 150px; */
        width: 300px;
        height: 260px;
    
    }
    .text-ul{
        /* display:flex;
        justify-content: center; */
        
        font-family: 'Otomanopee One', sans-serif;
        font-size:35px;
        margin-top:50px;
        margin-bottom:25px;
        position:relative;
        left: 19%;
    }
    .email_items_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* flex-direction:column-reverse; */
    }
    
    .email_subcribe_input{
        display:flex;
        justify-content:space-evenly;
        
    }
   
    .email_input{
        width:190%;
        border:1px solid #ee89a0;
        background-color: #fcedf0;
        color: #1d3557;
        font-weight: 700;
        padding: 0.5rem;
        border-radius: 5px;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
        
        /* justify-content: left; */
    }
    .email_input:hover::placeholder{
        color: #bdbcbc;
        
    }
    #get_updates{
        width:15%;
        height:15%;
        padding:.65%;
        /* left: 300px; */
        
    }
    #get_updates:hover{
        font-size:15px;
        /* height:50%; */
        
        border-radius:10px;

    }
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

}

    @media (min-width: 1400px) {
        .container {
            max-width: 1250px;
        }
        
    }